nav, footer, header, aside {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

*:last-child {
  margin-bottom: 0;
}

html, body {
  min-width: 320px;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: transparent;
}

body::before {
  content: "";
  width: 638px;
  height: 439px;
  background-color: #2AB1AD;
  display: block;
  -webkit-clip-path: path("M253.375 5.92203C209.924 24.8463 236.327 80.8288 200.266 107.249C153.085 141.816 64.3587 130.65 27.5814 171.348C-9.74602 212.655 -3.43513 267.514 15.4605 311.758C35.8974 359.611 75.2351 405.115 136.307 425.928C196.66 446.497 271.958 439.476 338.56 421.87C397.576 406.27 433.993 363.695 483.642 334.114C531.641 305.515 601.223 292.202 625.562 250.872C649.943 209.471 634.307 161.461 607.064 124.531C582.969 91.8669 529.716 80.985 486.397 62.217C453.297 47.8764 420.132 36.4712 383.239 27.5584C340.482 17.229 294.825 -12.1309 253.375 5.92203Z");
          clip-path: path("M253.375 5.92203C209.924 24.8463 236.327 80.8288 200.266 107.249C153.085 141.816 64.3587 130.65 27.5814 171.348C-9.74602 212.655 -3.43513 267.514 15.4605 311.758C35.8974 359.611 75.2351 405.115 136.307 425.928C196.66 446.497 271.958 439.476 338.56 421.87C397.576 406.27 433.993 363.695 483.642 334.114C531.641 305.515 601.223 292.202 625.562 250.872C649.943 209.471 634.307 161.461 607.064 124.531C582.969 91.8669 529.716 80.985 486.397 62.217C453.297 47.8764 420.132 36.4712 383.239 27.5584C340.482 17.229 294.825 -12.1309 253.375 5.92203Z");
}

body::after {
  content: "";
  -webkit-clip-path: path("M328.799 368.253C288.837 377.633 278.253 325.203 239.552 325.568C188.917 326.047 133.052 379.693 86.4756 370.542C39.2029 361.253 15.2422 319.998 5.50809 279.581C-5.02004 235.868 -1.20473 184 30.4656 137.984C61.7635 92.5083 117.698 58.4045 173.06 36.1307C222.117 16.3942 269.412 27.0318 319.186 21.8241C367.305 16.7895 422.52 -9.99849 460.782 6.0271C499.11 22.0802 513.054 63.4174 513.211 103.089C513.35 138.178 481.979 173.271 461.584 208.685C446 235.744 428.854 260.804 407.831 286.068C383.467 315.347 366.92 359.305 328.799 368.253Z");
          clip-path: path("M328.799 368.253C288.837 377.633 278.253 325.203 239.552 325.568C188.917 326.047 133.052 379.693 86.4756 370.542C39.2029 361.253 15.2422 319.998 5.50809 279.581C-5.02004 235.868 -1.20473 184 30.4656 137.984C61.7635 92.5083 117.698 58.4045 173.06 36.1307C222.117 16.3942 269.412 27.0318 319.186 21.8241C367.305 16.7895 422.52 -9.99849 460.782 6.0271C499.11 22.0802 513.054 63.4174 513.211 103.089C513.35 138.178 481.979 173.271 461.584 208.685C446 235.744 428.854 260.804 407.831 286.068C383.467 315.347 366.92 359.305 328.799 368.253Z");
  display: block;
  width: 553px;
  height: 371px;
  background: green;
}/*# sourceMappingURL=style.css.map */
